.pl-scrolls-vertical {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
  bottom: 0;
}
.pl-scrolls-vertical.active {
  display: block;
}
.pl-scrolls-vertical.hover {
  width: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.pl-scrolls-vertical.hover .pl-scrolls-vertical-ticker {
  opacity: 1;
}
.pl-scrolls-vertical .pl-scrolls-vertical-ticker {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  width: 100%;
}
.pl-scrolls {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
}
