@-webkit-keyframes pl-title-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-moz-keyframes pl-title-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-ms-keyframes pl-title-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-o-keyframes pl-title-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@keyframes pl-title-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
.pl-screen-message {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.pl-screen-message .title {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 3rem;
  text-align: center;
  overflow: hidden;
}
.pl-screen-message .title h1 {
  position: relative;
  -webkit-transform: translateY(3rem);
  -moz-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  -o-transform: translateY(3rem);
  transform: translateY(3rem);
  font-size: 2.2rem;
  text-align: center;
  line-height: 3rem;
  margin: 0;
}
.pl-screen-message .pl-screen-messages-message {
  position: absolute;
  left: 2rem;
  right: 2rem;
  text-align: center;
}
.pl-screen-message .pl-screen-messages-message .pl-message .word {
  font-size: 5rem;
  line-height: 6rem;
}
.pl-screen-message .title-border {
  display: none;
  max-width: 70rem;
  width: 97%;
  height: 1px;
  margin: 1rem auto 0;
  -webkit-animation: pl-title-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: pl-title-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: pl-title-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: pl-title-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: pl-title-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.playing .title h1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.done .title h1 {
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
  transform: translateY(-3rem);
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.sb-title-1 .title-border,
.pl-screen-message.sb-title-2 .title-border {
  display: block;
}
.pl-screen-message.sb-title-2 .pl-screen-messages-message {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.sb-title-2 .pl-screen-messages-message .message .word {
  font-size: 3rem;
  lein-height: 3rem;
  margin-left: 0.75rem;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.sb-title-out-1 .pl-screen-messages-message {
  opacity: 0;
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.sb-title-out-1 .pl-screen-messages-message .message .word {
  font-size: 3rem;
  lein-height: 3rem;
  margin-left: 0.75rem;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-screen-message.sb-title-out-2 .pl-screen-messages-message {
  opacity: 0;
}
