.screen-message {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.screen-message .title {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  height: 3rem;
  text-align: center;
  overflow: hidden;
}
.screen-message .title h1 {
  position: relative;
  -webkit-transform: translateY(3rem);
  -moz-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  -o-transform: translateY(3rem);
  transform: translateY(3rem);
  font-size: 2.2rem;
  text-align: center;
  line-height: 3rem;
  margin: 0;
}
.screen-message .title h1 span {
  color: #ff6600;
}
.screen-message .screen-message-message {
  position: absolute;
  left: 2rem;
  right: 2rem;
  text-align: center;
}
.screen-message .screen-message-message .message .word {
  font-size: 5rem;
  line-height: 6rem;
}
.screen-message.playing .title h1 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.screen-message.done .title h1 {
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
  transform: translateY(-3rem);
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
