@import "../less/common-variables.less";

.accent {
  color: @accentColor !important;
}

.accent-bg {
  background-color: @accentColor !important;
}

.accent-selection-hover:hover {
  background-color: fade(@accentColor, 10%) !important;
}

.accent-selection {
  background-color: @accentColor !important;
  color: white !important;

  &.accent-selection-hover:hover {
    background-color: @accentColor !important;
  }
}

.accent-borders {
  border-color: @accentColor !important;
}

.accent-border-top {
  border-top-color: @accentColor !important;
}

.accent-border-right {
  border-right-color: @accentColor !important;
}

.accent-border-bottom {
  border-bottom-color: @accentColor !important;
}

.accent-border-left {
  border-left-color: @accentColor !important;
}

.success {
  color: @successColor !important;
}

.success-bg {
  background-color: @successColor !important;
}

.success-borders {
  border-color: @successColor !important;
}

.success-border-top {
  border-top-color: @successColor !important;
}

.success-border-right {
  border-right-color: @successColor !important;
}

.success-border-bottom {
  border-bottom-color: @successColor !important;
}

.success-border-left {
  border-left-color: @successColor !important;
}

.error {
  color: @errorColor !important;
}

.error-bg {
  background-color: @errorColor !important;
}

.error-borders {
  border-color: @errorColor !important;
}

.error-border-top {
  border-top-color: @errorColor !important;
}

.error-border-right {
  border-right-color: @errorColor !important;
}

.error-border-bottom {
  border-bottom-color: @errorColor !important;
}

.error-border-left {
  border-left-color: @errorColor !important;
}

.dark {
  color: @darkColor !important;
}

.dark-bg {
  background-color: @darkColor !important;
}

.dark-borders {
  border-color: @darkColor !important;
}

.dark-border-top {
  border-top-color: @darkColor !important;
}

.dark-border-right {
  border-right-color: @darkColor !important;
}

.dark-border-bottom {
  border-bottom-color: @darkColor !important;
}

.dark-border-left {
  border-left-color: @darkColor !important;
}