.accent {
  color: #00bcd4 !important;
}
.accent-bg {
  background-color: #00bcd4 !important;
}
.accent-selection-hover:hover {
  background-color: rgba(0, 188, 212, 0.1) !important;
}
.accent-selection {
  background-color: #00bcd4 !important;
  color: white !important;
}
.accent-selection.accent-selection-hover:hover {
  background-color: #00bcd4 !important;
}
.accent-highlight {
  background: rgba(0, 188, 212, 0.2) !important;
}
.accent-highlight:hover {
  background: rgba(0, 188, 212, 0.3) !important;
}
.accent-borders {
  border-color: #00bcd4 !important;
}
.accent-border-top {
  border-top-color: #00bcd4 !important;
}
.accent-border-right {
  border-right-color: #00bcd4 !important;
}
.accent-border-bottom {
  border-bottom-color: #00bcd4 !important;
}
.accent-border-left {
  border-left-color: #00bcd4 !important;
}
.success {
  color: #4caf50 !important;
}
.success-bg {
  background-color: #4caf50 !important;
}
.success-borders {
  border-color: #4caf50 !important;
}
.success-border-top {
  border-top-color: #4caf50 !important;
}
.success-border-right {
  border-right-color: #4caf50 !important;
}
.success-border-bottom {
  border-bottom-color: #4caf50 !important;
}
.success-border-left {
  border-left-color: #4caf50 !important;
}
.warning {
  color: #ff6600 !important;
}
.warning-bg {
  background-color: #ff6600 !important;
}
.warning-borders {
  border-color: #ff6600 !important;
}
.warning-border-top {
  border-top-color: #ff6600 !important;
}
.warning-border-right {
  border-right-color: #ff6600 !important;
}
.warning-border-bottom {
  border-bottom-color: #ff6600 !important;
}
.warning-border-left {
  border-left-color: #ff6600 !important;
}
.error {
  color: #f44336 !important;
}
.error-bg {
  background-color: #f44336 !important;
}
.error-borders {
  border-color: #f44336 !important;
}
.error-border-top {
  border-top-color: #f44336 !important;
}
.error-border-right {
  border-right-color: #f44336 !important;
}
.error-border-bottom {
  border-bottom-color: #f44336 !important;
}
.error-border-left {
  border-left-color: #f44336 !important;
}
.dark {
  color: #333333 !important;
}
.dark-bg {
  background-color: #333333 !important;
}
.dark-borders {
  border-color: #333333 !important;
}
.dark-border-top {
  border-top-color: #333333 !important;
}
.dark-border-right {
  border-right-color: #333333 !important;
}
.dark-border-bottom {
  border-bottom-color: #333333 !important;
}
.dark-border-left {
  border-left-color: #333333 !important;
}
.light {
  color: #ffffff !important;
}
.light-bg {
  background-color: #ffffff !important;
}
.light-borders {
  border-color: #ffffff !important;
}
.light-border-top {
  border-top-color: #ffffff !important;
}
.light-border-right {
  border-right-color: #ffffff !important;
}
.light-border-bottom {
  border-bottom-color: #ffffff !important;
}
.light-border-left {
  border-left-color: #ffffff !important;
}
