@-webkit-keyframes button-profile-show {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes button-profile-show {
  0% {
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes button-profile-show {
  0% {
    -ms-transform: scale(0);
  }
  100% {
    -ms-transform: scale(1);
  }
}
@-o-keyframes button-profile-show {
  0% {
    -o-transform: scale(0);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes button-profile-show {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.button-profile {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-animation: button-profile-show 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: button-profile-show 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: button-profile-show 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: button-profile-show 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: button-profile-show 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-profile img,
.button-profile img:hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border: none;
}
