@-webkit-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-moz-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-ms-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-o-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 700px;
  }
}
@-webkit-keyframes avatar-show-again {
  0% {
    left: -140px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes avatar-show-again {
  0% {
    left: -140px;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes avatar-show-again {
  0% {
    left: -140px;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes avatar-show-again {
  0% {
    left: -140px;
  }
  100% {
    left: 0;
  }
}
@keyframes avatar-show-again {
  0% {
    left: -140px;
  }
  100% {
    left: 0;
  }
}
.login {
  z-index: 1001;
}
.login .login-container {
  overflow: hidden;
  z-index: 1001;
  position: fixed;
  left: 2rem;
  right: 2rem;
}
.login .bottom-border-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.login .bottom-border-container .bottom-border {
  display: none;
  width: 700px;
  height: 1px;
  margin: 0 auto;
  background: #ff6600;
  -webkit-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content {
  position: relative;
  width: 700px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.login .login-content .login-form {
  opacity: 0;
  position: absolute;
  left: 375px;
  right: 375px;
  top: 50%;
  height: 0;
  margin-top: 0;
  overflow: hidden;
}
.login .login-content .login-form .login-form-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ff6600;
}
.login .login-content .login-form .login-form-error {
  position: absolute;
  left: 0;
  bottom: -140px;
  width: 100%;
  height: 100%;
  background: #F44336;
  color: white;
  line-height: 140px;
}
.login .login-content .login-form .login-form-error p {
  font-size: 2rem;
  line-height: 4rem;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  text-align: center;
  width: 100%;
}
.login .login-content .login-form .old-avatar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
}
.login .login-content .login-form .old-avatar.show {
  display: block;
}
.login .login-content .login-form .avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 140px;
  width: 140px;
  margin: -70px 0 0 -70px;
  background: #ff6600;
}
.login .login-content .login-form .avatar.show-again {
  -webkit-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-form .input {
  background: none;
  color: white;
  margin: 0 0 0 150px;
  border: none;
  font-size: 2rem;
  line-height: 4rem;
  height: 7rem;
  width: 250px;
}
.login .login-content .login-form .input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input:-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .submit {
  display: none;
}
.login.sb-show-1 .bottom-border-container .bottom-border,
.login.sb-show-2 .bottom-border-container .bottom-border,
.login.sb-show-3 .bottom-border-container .bottom-border,
.login.sb-hide-1 .bottom-border-container .bottom-border {
  display: block;
}
.login.sb-show-2 .login-container {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-2 .login-content .login-form {
  opacity: 1;
  left: 280px;
  right: 280px;
  height: 140px;
  margin-top: -70px;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-3 .login-content .login-form {
  opacity: 1;
  left: 150px;
  right: 150px;
  height: 140px;
  margin-top: -70px;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-3 .login-content .login-form .avatar {
  left: 0;
  top: 0;
  margin: 0;
}
.login.sb-hide-1 .login-container,
.login.sb-hide-2 .login-container {
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-1 .login-content .login-form,
.login.sb-hide-2 .login-content .login-form {
  opacity: 1;
  left: 150px;
  right: 150px;
  height: 140px;
  margin-top: -70px;
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-1 .login-content .login-form .avatar,
.login.sb-hide-2 .login-content .login-form .avatar {
  left: 0;
  top: 0;
  margin: 0;
}
.login.sb-hide-1 .bottom-border-container,
.login.sb-hide-2 .bottom-border-container {
  opacity: 0;
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-2 .login-content .login-form {
  left: 280px;
  right: 280px;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-3 .login-content .login-form {
  opacity: 1;
  left: 375px;
  right: 375px;
  height: 0px;
  margin-top: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.login.sb-error-1 .login-content .login-form .login-form-content {
  bottom: 140px;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-error-2 .login-content .login-form .login-form-content {
  bottom: -140px;
}
.login.sb-error-2 .login-content .login-form .login-form-error {
  bottom: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-error-3 .login-content .login-form .login-form-content {
  bottom: -140px;
}
.login.sb-error-3 .login-content .login-form .login-form-error {
  bottom: 140px;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-error-4 .login-content .login-form .login-form-content {
  bottom: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
