@-webkit-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 70rem;
  }
}
@-moz-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 70rem;
  }
}
@-ms-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 70rem;
  }
}
@-o-keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 70rem;
  }
}
@keyframes bottom-border-show {
  0% {
    width: 0;
  }
  100% {
    width: 70rem;
  }
}
@-webkit-keyframes avatar-show-again {
  0% {
    left: -14rem;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes avatar-show-again {
  0% {
    left: -14rem;
  }
  100% {
    left: 0;
  }
}
@-ms-keyframes avatar-show-again {
  0% {
    left: -14rem;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes avatar-show-again {
  0% {
    left: -14rem;
  }
  100% {
    left: 0;
  }
}
@keyframes avatar-show-again {
  0% {
    left: -14rem;
  }
  100% {
    left: 0;
  }
}
.login {
  z-index: 1001;
}
.login .login-container {
  overflow: hidden;
  z-index: 1001;
  position: fixed;
  left: 2rem;
  right: 2rem;
}
.login .bottom-border-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.login .bottom-border-container .bottom-border {
  display: none;
  width: 70rem;
  height: 1px;
  margin: 0 auto;
  -webkit-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: bottom-border-show 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content {
  position: relative;
  width: 70rem;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.login .login-content .login-form {
  opacity: 0;
  position: absolute;
  left: 37.5rem;
  right: 37.5rem;
  top: 50%;
  height: 0;
  margin-top: 0;
  overflow: hidden;
}
.login .login-content .login-form .login-form-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login .login-content .login-form .login-form-message {
  position: absolute;
  left: 0;
  bottom: -14rem;
  width: 100%;
  height: 100%;
  color: white;
  line-height: 14rem;
}
.login .login-content .login-form .login-form-message p {
  font-size: 2rem;
  line-height: 4rem;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  text-align: center;
  width: 100%;
}
.login .login-content .login-form .old-avatar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 14rem;
  height: 14rem;
  background: url('avatar.png') no-repeat;
  background-size: 100%;
}
.login .login-content .login-form .old-avatar.show {
  display: block;
}
.login .login-content .login-form .avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 14rem;
  width: 14rem;
  margin: -7rem 0 0 -7rem;
  background: url('avatar.png') no-repeat;
  background-size: 100%;
}
.login .login-content .login-form .avatar.show-again {
  -webkit-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: avatar-show-again 0.65s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-form .input {
  position: relative;
  left: 0;
  background: none;
  color: white;
  margin: 0 0 0 15rem;
  border: none;
  font-size: 2rem;
  line-height: 4rem;
  height: 7rem;
  width: 25rem;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-form .input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input:-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input::-moz-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}
.login .login-content .login-form .input.code {
  position: absolute;
  top: 0;
  left: auto;
  right: -26rem;
  -webkit-transition: all 0.7s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.7s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.7s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.7s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.7s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-form .input.code.show {
  right: 0;
}
.login .login-content .login-form .input.hide {
  left: -26rem;
}
.login .login-content .login-form .mask-password {
  position: absolute;
  height: 7rem;
  background: white;
  bottom: 0;
  width: 0;
  right: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-form .mask-password.show {
  width: 26rem;
}
.login .login-content .login-form .submit {
  display: none;
}
.login .login-content .login-links {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  right: 15rem;
  top: 50%;
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: right;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  width: 40rem;
}
.login .login-content .login-links .login-forgot-link {
  top: 2rem;
}
.login .login-content .login-links .login-login-link {
  top: -2rem;
}
.login .login-content .login-links div {
  position: absolute;
  right: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-links div.show {
  top: 0;
}
.login .login-content .login-forgot-texts {
  position: absolute;
  left: 15rem;
  right: 15rem;
  height: 5.6rem;
  bottom: 50%;
  margin-bottom: 9rem;
  font-size: 1.8rem;
  overflow: hidden;
}
.login .login-content .login-forgot-texts .login-forgot-text {
  top: 5.6rem;
}
.login .login-content .login-forgot-texts .login-forgot-code-text,
.login .login-content .login-forgot-texts .login-forgot-password-text {
  top: -5.6rem;
}
.login .login-content .login-forgot-texts p {
  position: absolute;
  left: 0;
  right: 0;
  height: 5.6rem;
  margin: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login .login-content .login-forgot-texts p.show {
  top: 0;
}
.login .login-content .login-forgot-texts .key {
  position: relative;
  top: -2px;
  background: #fff;
  font-weight: 700;
  padding: 2px .65rem;
  font-size: 1.2rem;
  margin: 0 2px;
  border-radius: .25rem;
  color: #3d3c40;
  border-bottom: 2px solid #9e9ea6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: none;
}
.login.sb-show-1 .bottom-border-container .bottom-border,
.login.sb-show-2 .bottom-border-container .bottom-border,
.login.sb-show-3 .bottom-border-container .bottom-border,
.login.sb-show-4 .bottom-border-container .bottom-border,
.login.sb-hide-1 .bottom-border-container .bottom-border {
  display: block;
}
.login.sb-show-2 .login-container {
  -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-2 .login-content .login-form {
  opacity: 1;
  left: 28rem;
  right: 28rem;
  height: 14rem;
  margin-top: -7rem;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-3 .login-content .login-form,
.login.sb-show-4 .login-content .login-form {
  opacity: 1;
  left: 15rem;
  right: 15rem;
  height: 14rem;
  margin-top: -7rem;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-show-3 .login-content .login-form .avatar,
.login.sb-show-4 .login-content .login-form .avatar {
  left: 0;
  top: 0;
  margin: 0;
}
.login.sb-show-4 .login-content .login-links {
  opacity: 1;
  margin-top: 8rem;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-1 .login-container,
.login.sb-hide-2 .login-container {
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-1 .login-content .login-form,
.login.sb-hide-2 .login-content .login-form {
  opacity: 1;
  left: 15rem;
  right: 15rem;
  height: 14rem;
  margin-top: -7rem;
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-1 .login-content .login-form .avatar,
.login.sb-hide-2 .login-content .login-form .avatar {
  left: 0;
  top: 0;
  margin: 0;
}
.login.sb-hide-1 .bottom-border-container,
.login.sb-hide-2 .bottom-border-container {
  opacity: 0;
  -webkit-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.55s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-2 .login-content .login-form {
  left: 28rem;
  right: 28rem;
  -webkit-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-hide-3 .login-content .login-form {
  opacity: 1;
  left: 37.5rem;
  right: 37.5rem;
  height: 0;
  margin-top: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.login.sb-message-1 .login-content .login-form .login-form-content {
  bottom: 14rem;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-message-2 .login-content .login-form .login-form-content {
  bottom: -14rem;
}
.login.sb-message-2 .login-content .login-form .login-form-message {
  bottom: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-message-3 .login-content .login-form .login-form-content {
  bottom: -14rem;
}
.login.sb-message-3 .login-content .login-form .login-form-message {
  bottom: 14rem;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.login.sb-message-4 .login-content .login-form .login-form-content {
  bottom: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
