<div class="pl-layout-platform">

  <header class="pl-layout-platform-header" style="margin-left: -{{titleLeftOffset}}px">
    <div
      class="pl-layout-platform-title-bg {{titleOpened ? 'opened' : ''}}"
      style="
        margin-left: -{{titleBgLeftOffset}}px;
        width: {{titleBgWidth}}px;
        height: {{titleBgHeight}}px;"
    ></div>

    <rv-require
      name="pl-dropdown-title"
      class="pl-layout-title {{titleOpened ? 'opened' : ''}}"
      src="../dropdowns/pl-dropdown-title"
      data-placeholder="Apps"
      data-bind-titles="apps"
    ></rv-require>
  </header>

  <div class="pl-layout-flyout-left">
    <rv-require
      name="pl-grouped-buttons"
      src="../grouped-buttons/pl-grouped-buttons"
      data-bind-buttons="buttonsleft"
      data-orientaton="left"
    ></rv-require>
  </div>

  <div class="pl-layout-flyout-right">
    <rv-require
      name="pl-grouped-buttons"
      src="../grouped-buttons/pl-grouped-buttons"
      data-bind-buttons="buttonsright"
      data-orientaton="right"
    ></rv-require>
  </div>

  {{> content}}

  {{#if usemask}}
  <div class="pl-layout-mask"></div>
  {{/if}}

  <rv-require
    name="pl-screen-message"
    src="../screen-message/pl-screen-message"
    ondemand="pl-screen-message"
  ></rv-require>
</div>
