<div class="pl-layout-platform">

  <header class="pl-header {{light ? 'light' : ''}}">
    {{#if usebrand}}
    <h1 class="pl-layout-brand {{start ? 'opened' : ''}}">
      <span>{{brand}}</span>
    </h1>
    {{/if}}

    {{#if usetitle}}
    <rv-require
      name="pl-dropdown-title"
      class="pl-layout-title"
      src="../dropdowns/pl-dropdown-title"
      data-placeholder="Apps"
      data-bind-titles="apps"
    ></rv-require>
    {{/if}}
  </header>

  <div class="pl-layout-flyout">

    {{> flyout}}

    {{#if useprofile}}
    <rv-require
      name="pl-button-profile"
      src="../buttons/pl-button-profile"
      data-bind-img="user.avatar"
      data-bind-toggle="user-toggle"
    ></rv-require>
    {{/if}}

    {{#if usehelp}}
    <rv-require
      name="pl-button-help"
      src="../buttons/pl-button-help"
      data-bind-toggle="help-toggle"
    ></rv-require>
    {{/if}}

  </div>

  {{> content}}

  {{#if usemask}}
  <div class="pl-layout-mask {{beforeStart ? 'out' : ''}}">
    <div class="pl-layout-mask-title-container">
      <div class="pl-layout-mask-title {{loaded ? 'opened' : ''}}">
        {{> mask-title}}
      </div>
    </div>
  </div>
  {{/if}}

  <rv-require
    name="pl-screen-message"
    src="../screen-message/pl-screen-message"
    ondemand="pl-screen-message"
  ></rv-require>
</div>
