<div class="pl-layout-platform">

  <header class="pl-layout-platform-header" style="margin-left: -{{titleLeftOffset}}px">
    <div
      class="pl-layout-platform-title-bg {{titleOpened ? 'opened' : ''}}"
      style="
        margin-left: -{{titleBgLeftOffset}}px;
        width: {{titleBgWidth}}px;
        height: {{titleBgHeight}}px;"
    ></div>

    <rv-require
      name="pl-dropdown-title"
      class="pl-layout-title {{titleOpened ? 'opened' : ''}}"
      src="../dropdowns/pl-dropdown-title"
      data-placeholder="Apps"
      data-bind-titles="apps"
    ></rv-require>
  </header>

  <div class="pl-layout-context-left">
    <rv-require
      data-pl-name="context-left"
      name="pl-context-panel"
      src="../context-panel/pl-context-panel"
      class="pl-context-panel-require"
      data-use-leftcross="true"
      data-bind-on-cross="crossleftcontext"
      data-bind-title="contextlefttitle"
      data-bind-use-title="contextleftusetitle"
      data-bind-use-scrollbar="contextleftscrollbar"
    >
      <rv-partial target="panels">
        {{> context-left-panels}}
      </rv-partial>
    </rv-require>
  </div>

  <div class="pl-layout-context-right">
    <rv-require
      data-pl-name="context-right"
      name="pl-context-panel"
      src="../context-panel/pl-context-panel"
      class="pl-context-panel-require"
      data-use-rightcross="true"
      data-bind-on-cross="crossrightcontext"
      data-bind-title="contextrighttitle"
      data-bind-use-title="contextrightusetitle"
      data-bind-use-scrollbar="contextrightscrollbar"
    >
      <rv-partial target="panels">
        {{> context-right-panels}}
      </rv-partial>
    </rv-require>
  </div>

  <div class="pl-layout-flyout-left">
    <rv-require
      data-pl-name="buttons-left"
      name="pl-grouped-buttons"
      src="../grouped-buttons/pl-grouped-buttons"
      data-bind-buttons="buttonsleft"
      data-orientaton="left"
    ></rv-require>
  </div>

  <div class="pl-layout-flyout-right">
    <rv-require
      data-pl-name="buttons-right"
      name="pl-grouped-buttons"
      src="../grouped-buttons/pl-grouped-buttons"
      data-bind-buttons="buttonsright"
      data-orientaton="right"
    ></rv-require>
  </div>

  {{> content}}

  {{#if usemask}}
  <div class="pl-layout-mask"></div>
  {{/if}}

  <rv-require
    name="pl-screen-message"
    src="../screen-message/pl-screen-message"
    ondemand="pl-screen-message"
  ></rv-require>
</div>
