.pl-context-panel {
  position: relative;
  width: 100%;
  height: 100%;
}
.pl-context-panel .pl-context-panel-bg {
  position: absolute;
  left: 50%;
  width: 0;
  top: 0;
  bottom: 0;
  background: #333;
  -webkit-transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-context-panel .pl-context-panel-title {
  background: black;
  color: white;
  text-align: center;
  height: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  font-style: italic;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-transform: uppercase;
}
.pl-context-panel .pl-context-panel-title::before,
.pl-context-panel .pl-context-panel-title::after {
  content: ' ';
  position: absolute;
  top: 3rem;
  background: white;
  width: 4rem;
  height: 1px;
  opacity: 0.6;
}
.pl-context-panel .pl-context-panel-title::before {
  left: 2rem;
}
.pl-context-panel .pl-context-panel-title::after {
  right: 2rem;
}
.pl-context-panel .pl-context-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.pl-context-panel .pl-context-panel-content .pl-group {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.pl-context-panel .pl-context-panel-content .pl-group.opened {
  display: block;
}
.pl-context-panel .pl-context-panel-title-cross {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  width: 4rem;
  height: 4rem;
}
.pl-context-panel .pl-context-panel-title-cross::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 0;
  background: white;
  width: 4rem;
  height: 1px;
  opacity: 0.6;
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-context-panel.use-title .pl-context-panel-content {
  top: 6rem;
}
.pl-context-panel.opened .pl-context-panel-bg {
  left: 0;
  width: 100%;
}
.pl-context-panel.left-cross .pl-context-panel-title-cross {
  display: block;
  left: 2rem;
}
.pl-context-panel.left-cross.usable .pl-context-panel-title::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-context-panel.left-cross.usable .pl-context-panel-title-cross::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pl-context-panel.right-cross .pl-context-panel-title-cross {
  display: block;
  right: 2rem;
}
.pl-context-panel.right-cross.usable .pl-context-panel-title::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pl-context-panel.right-cross.usable .pl-context-panel-title-cross::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pl-context-panel .pl-section {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(200rem);
  -moz-transform: translateY(200rem);
  -ms-transform: translateY(200rem);
  -o-transform: translateY(200rem);
  transform: translateY(200rem);
  -webkit-transition: all 0.45s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition: all 0.45s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition: all 0.45s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: all 0.45s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: all 0.45s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  color: white;
}
.pl-context-panel .pl-section.opened {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}
