<header class="header {{light ? 'light' : ''}}">
  {{#if usebrand}}
  <h1 class="layout-brand {{start ? 'opened' : ''}}">
    <span>{{brand}}</span>
  </h1>
  {{/if}}

  {{#if usetitle}}
  <rv-require
    name="dropdown-title"
    class="layout-title"
    src="../dropdowns/dropdown-title"
    data-placeholder="Apps"
    data-bind-titles="apps"
  ></rv-require>
  {{/if}}
</header>

<div class="layout-flyout">

  {{> flyout}}

  {{#if useprofile}}
  <rv-require
    name="button-profile"
    src="../buttons/button-profile"
    data-bind-img="user.avatar"
    data-bind-toggle="user-toggle"
  ></rv-require>
  {{/if}}

  {{#if usehelp}}
  <rv-require
    name="button-help"
    src="../buttons/button-help"
    data-bind-toggle="help-toggle"
  ></rv-require>
  {{/if}}

</div>

{{#if leftContentUsed}}
  <div
    class="
      layout-left-container
      {{start ? 'opened' : ''}}
      {{leftContentExpended ? 'expended' : ''}}
      {{leftContentCollapsedAfter ? 'collapsed-after' : ''}}
    "
    style="width: {{leftContentWidth}}px; left: {{leftContentPos}}px;"
  >
    <div class="layout-left-content" style="top: {{titleAreaHeight}}px;">
      {{> left-content}}
    </div>

    <div class="layout-left-bar-container" on-click="toggleLeftBar">
      <div class="layout-left-bar"></div>
      <span>{{leftContentTitle}}</span>
    </div>
  </div>
{{/if}}

<div
  class="layout-content"
  style="
    left: {{leftContentAreaWidth}}px;
    right: {{rightContentAreaWidth}}px;
    top: {{leftContentExpended ? 90 : titleAreaHeight}}px;
  "
>
  {{> content}}
</div>

{{#if rightContentUsed}}
  <div
    class="
      layout-right-container
      {{start ? 'opened' : ''}}
      {{rightContentExpended ? 'expended' : ''}}
      {{rightContentCollapsedAfter ? 'collapsed-after' : ''}}
    "
    style="width: {{rightContentWidth}}px; right: {{rightContentPos}}px;"
  >
    <div class="layout-right-content">
      {{> right-content}}
    </div>

    <div class="layout-right-bar-container" on-click="toggleRightBar">
      <div class="layout-right-bar"></div>
      <span>{{rightContentTitle}}</span>
    </div>
  </div>
{{/if}}

{{#if usemask}}
<div class="layout-mask {{beforeStart ? 'out' : ''}}">
  <div class="layout-mask-title-container">
    <div class="layout-mask-title {{loaded ? 'opened' : ''}}">
      {{> mask-title}}
    </div>
  </div>
</div>
{{/if}}

{{> extracontent}}

<rv-require
  name="screen-message"
  src="../screen-message/screen-message"
  ondemand="screen-message"
></rv-require>
