@import "../../common/less/common-mixins.less";

.pl-layout-platform {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .pl-layout-platform-header {
    z-index: 100;
    position: fixed;
    top: 1rem;
    left: 50%;
    color: #333;
    margin-left: -8rem;
    .transition(all 0.35s @easeOutQuart);

    .pl-layout-platform-title-bg {
      position: absolute;
      top: -1rem;
      left: 50%;
      width: 0;
      height: 0;
      background: #333;

      .transition(width 0.15s @easeOutQuart, margin-left 0.25s @easeOutQuart);

      &.opened {
        .transition(width 0.25s @easeOutQuart, margin-left 0.25s @easeOutQuart);
      }
    }

    .pl-layout-title {
      cursor: default;
      display: block;

      &.opened {
        color: white;

        h2 {
          text-shadow: none;
        }
      }

      h2 {
        text-shadow: 1px 1px 1px white;
      }
    }
  }

  .pl-layout-context-left, .pl-layout-context-right {
    position: fixed;
    top: 0;
    width: 25%;
    bottom: 0;

    .pl-context-panel-require {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .pl-context-panel {
        &.use-title {
          .pl-context-panel-content {
            top: 11rem;
          }
        }
      }

      .pl-context-panel-title {
        padding-top: 5rem;

        &::before, &::after {
          top: 8rem;
        }
      }

      .pl-context-panel-title-cross {
        top: 6rem;
      }
    }
  }

  .pl-layout-context-left {
    left: 0;
  }

  .pl-layout-context-right {
    right: 0;
  }

  .pl-layout-flyout-left, .pl-layout-flyout-right {
    z-index: 1000;
    cursor: default;
    z-index: 100;
    position: fixed;
    top: 1rem;
    height: 4rem;

    rv-require {
      height: 100%;
    }
  }

  .pl-layout-flyout-left {
    left: 1.5rem;
  }

  .pl-layout-flyout-right {
    right: 2rem;
  }

  .pl-layout-mask {
    .noselect();
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }
}
