@import "../../common/less/common-mixins.less";
@import "../../common/less/common-variables.less";

@-webkit-keyframes title-border-show { 0% { width: 0; } 100% { width: 700px; } }
@-moz-keyframes title-border-show { 0% { width: 0; } 100% { width: 700px; } }
@-ms-keyframes title-border-show { 0% { width: 0; } 100% { width: 700px; } }
@-o-keyframes title-border-show { 0% { width: 0; } 100% { width: 700px; } }
@keyframes title-border-show { 0% { width: 0; } 100% { width: 700px; } }

.screen-message {
  .noselect();
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;

  .title {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 3rem;
    text-align: center;
    overflow: hidden;

    h1 {
      position: relative;
      .transform(translateY(3rem));
      font-size: 2.2rem;
      text-align: center;
      line-height: 3rem;
      margin: 0;

      span {
        color: @themeColor;
      }
    }
  }

  .screen-message-message {
    position: absolute;
    left: 2rem;
    right: 2rem;
    text-align: center;

    .message .word {
      font-size: 5rem;
      line-height: 6rem;
    }
  }

  .title-border {
    display: none;
    width: 700px;
    height: 1px;
    margin: 1rem auto 0;
    background: @themeColor;

    .animation(title-border-show 1s @easeOutQuart);
  }

  &.playing {
    .title h1 {
      .transform(translateY(0));
      .transition(all 0.55s @easeOutQuart);
    }
  }

  &.done {
    .title h1 {
      .transform(translateY(-3rem));
      .transition(all 0.55s @easeOutQuart);
    }
  }

  &.message-title {
    .title-border {
      display: block;
    }

    .screen-message-message {
      .transition(all 1s @easeOutQuart);

      .message .word {
        font-size: 3rem;
        lein-height: 3rem;
        margin-left: 0.75rem;
        .transition(all 1s @easeOutQuart);
      }
    }
  }
}
